<launch>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
    <rosparam command="load" file="/home/ibrahim/local_ros/src/subt_solution_launch/config/ekf_template.yaml" />

     <!-- Placeholder for output topic remapping -->
    <remap from="odometry/filtered" to="odometry/fused"/>
    <!-- <remap from="accel/filtered" to=""/> -->
   

  </node>
</launch>
